!!!5
html
	head
		title #{title}
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		//- script(src="/script/bootstrap.min.js")
		link(rel='stylesheet', href="/styles/css/main.css")

	body
		header.navbar.navbar-inverse.navbar-fixed-top
			div.container
				a.navbar-brand(href='/users/#{user.username}') mood app

		section.jumbotron
			div.container
				h1 How are you feeling today?

				form(method='post',action='/users/#{user.username}/post/new')

					fieldset.mood
						label(for='input_mood') Rate your mood
						div.row
							label.col-xs-1.min(for='input_mood') 1
							div.col-xs-10
								input(type='range', name='mood', id='input_mood' max='10', min='1', value='5', autofocus)
							label.col-xs-1.max(for='input_mood') 10

					textarea(name='comments',placeholder='Write something positive.')
					input(type='submit')

		div(class="container")


			table()
				tr
					th Date
					th Mood
					th Comments
				for post in posts
					tr(id="#{post._id}")
						td #{post.date}
						td #{post.mood}
						td #{post.comments}
